<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Diyetisyen_Hasta_TKİP.Properties.Settings.diyetConnectionString"
            connectionString="Data Source=DESKTOP-UTIU3TA;Initial Catalog=diyet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>